<div class="ng-cloak terratype" ng-controller="terrabec.property.editor.enumerate.email.templates as vm" ng-init="vm.initEditor()">
	<div class="umb-el-wrap control-group">

		<umb-load-indicator ng-if="vm.state == vm.loading"></umb-load-indicator>

		<div class="umb-editor" ng-show="vm.state == vm.saving">
			<div class="umb-loader-wrapper">
				<div class="umb-loader">
				</div>
			</div>
		</div>

		<div class="umb-editor" ng-show="vm.state == vm.edit">
			<select id="terrabec_enum_lists_{{vm.identifier}}_lists" ng-model="vm.selectedList" ng-change="vm.selectedEmailTemplateChange(vm.selectedList)" class="umb-editor" ng-options="l.id as l.name for l in vm.emailTemplates"></select>
		</div>

		<div ng-show="vm.state == vm.preview">
			<select id="terrabec_enum_email_templates_{{vm.identifier}}_lists" class="umb-editor">
				<option><localize key="TerrabecPropertyEditorEnumerateEmailTemplates_NullList"></localize></option>
			</select>
		</div>

	</div>
</div>
